@using Extensions
@using Microsoft.IdentityModel.Tokens
@using AasxServer
@using AasxServerBlazor.TreeVisualisation
@using AasxServerBlazor.TreeVisualisation.Builders
@using AasxServerStandardBib
@using AasxServerBlazor.Data
@using AasxServerBlazor.DateTimeServices
@inject ISecurityService SecService
@using static AasxServerStandardBib.TimeSeriesPlotting;
@using AasSecurity

<style>
.modal-fullscreen {
  padding: 0 !important;
}
.modal-fullscreen .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}

</style>
<div class="sticky-top" style="word-wrap:break-word;word-break:break-all;">
    @{
        if (SelectedNode != null)
        {
            if (SelectedNode.Tag is not string nodeTag)
            {
                <span style="color:white;background-color:blue;" id="SelectedNodeInfoType">@SelectedNode.BuildNodeRepresentation()</span>
                <span id="SelectedNodeInfoId">@SelectedNode.GetIdentifier()</span>
                <br>
            }
            else
            {
                if (SelectedNode.Text.Contains("/readme"))
                {
                    var text = System.IO.File.ReadAllText(SelectedNode.Text);
                    text = text.Replace("%BLAZOR%", Program.externalBlazor);
                    if (text.Contains("%ACCESSRULES%"))
                    {
                        var accessRules = SecService.GetSecurityRules();
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th nowrap>Kind</th>
                                <th>Permission</th>
                                <th>Type</th>
                                <th>API</th>
                                <th>Path</th>
                                <th>SemanticID</th>
                                <th>See</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                var lines = accessRules.Split('\n');
                                foreach (var l in lines)
                                {
                                    <tr>
                                        @{
                                            var cols = l.Split('\t');
                                            for (var c = 0; c < cols.Count(); c++)
                                            {
                                                if (c != 1 && c != 2)
                                                {
                                                    <td>@cols[c]</td>
                                                }
                                                else
                                                {
                                                    <td nowrap>@cols[c]</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span>@((MarkupString) text)</span>
                    }
                }
            }
        }

        var nodeBuilder = TreeDetailsBuilderFactory.Create(SelectedNode);
        for (var line = 0; line < 20; line++)
        {
            var nodeDetails0 = nodeBuilder.Build(SelectedNode, line, 0);
            var nodeDetails1 = nodeBuilder.Build(SelectedNode, line, 1);
            var nodeDetails2 = nodeBuilder.Build(SelectedNode, line, 2);
            if (nodeDetails0 != string.Empty && nodeDetails1 != string.Empty)
            {
                var detailsId = "SelectedNodeDetailsLeft_" + line;
                <span style="color:white;background-color:blue;" id="@detailsId">@nodeDetails0</span>
                detailsId = "SelectedNodeDetailsRight_" + line;
                <span id="@detailsId">@nodeDetails1 @nodeDetails2</span>
                <br>
            }
        }

        if (SelectedNode != null && SelectedNode.Tag is IReferable r)
        {
            <span style="color:lightgray;">UPDATE @r.TimeStamp.ToString("yy-MM-dd HH:mm:ss.fff")</span>
            <br/>
            <button style="border-width: 1px; border-color: black; background-color: lightgray" @onclick="SetTimeStamp">TIMESTAMP</button>
            <br/>
            <span style="color:lightgray;">CREATE @r.TimeStampCreate.ToString("yy-MM-dd HH:mm:ss.fff")</span>
            <br/>
            <span style="color:lightgray;">TREE @r.TimeStampTree.ToString("yy-MM-dd HH:mm:ss.fff")</span>

            <br/>
                    @code {

                        private void SetTimeStamp()
                        {
                            (SelectedNode.Tag as IReferable).SetTimeStamp(DateTime.UtcNow);
                            Program.env[SelectedNode.EnvironmentIndex].setWrite(true);
                        }

                    }
                }

        //var link = AasxItemLinkService.Create(SelectedNode, NavigationManager.Uri, out externalLink); TODO: fix this before PR
        const string link = "https://example.com";
        if (SelectedNode != null && link != string.Empty)
        {
            if (true)
            {
                <a href="@link" target="_blank">@link</a>
                <br>
            }
            else
            {
                <button onclick="window.location.href = '@link'; ">Download</button>
                <br>
            }

            if (SelectedNode != null && SelectedNode.Tag is Submodel && Program.connectServer != string.Empty)
            {
                var toPublish = Program.submodelsToPublish.Contains(SelectedNode.Tag);
                var toSubscribe = Program.submodelsToSubscribe.Contains(SelectedNode.Tag);
                if (toPublish)
                {
                    <button style="color:white;background-color:blue" @onclick="ResetSubmodelToPublish">Publish</button>
                }
                else
                {
                    <button @onclick="SetSubmodelToPublish">Publish</button>
                }

                if (toSubscribe)
                {
                    <button style="color:white;background-color:blue" @onclick="ResetSubmodelToSubscribe">Subscribe</button>
                }
                else
                {
                    <button @onclick="SetSubmodelToSubscribe">Subscribe</button>
                }
                        @code {

                            private void ResetSubmodelToPublish()
                            {
                                Program.submodelsToPublish.Remove(SelectedNode.Tag);
                            }

                            private void SetSubmodelToPublish()
                            {
                                var toSubscribe = Program.submodelsToSubscribe.Contains(SelectedNode.Tag);
                                if (!toSubscribe)
                                    Program.submodelsToPublish.Add(SelectedNode.Tag);
                            }

                            private void ResetSubmodelToSubscribe()
                            {
                                Program.submodelsToSubscribe.Remove(SelectedNode.Tag);
                            }

                            private void SetSubmodelToSubscribe()
                            {
                                var toPublish = Program.submodelsToPublish.Contains(SelectedNode.Tag);
                                if (!toPublish)
                                    Program.submodelsToSubscribe.Add(SelectedNode.Tag);
                            }

                        }
                    }
        }

        if (SelectedNode != null && SelectedNode.Tag is Property && Program.edit)
        {
            <input @bind="CurrentValue" style="width:500px; border-width: 1px; border-color: black;"/>
            <span style="border-width: 1px; border-color: black; background-color: blue;">@CurrentValue</span>
            <br>
                    @code { private string CurrentValue { get; set; } }
                    if (CurrentValue != null && CurrentValue != "")
            {
                if (SelectedNode.Tag is Property)
                {
                    if (CurrentValue == " ")
                        CurrentValue = "";
                    (SelectedNode.Tag as Property).Value = CurrentValue;
                    (SelectedNode.Tag as Property).SetTimeStamp(DateTime.UtcNow);
                    Program.env[SelectedNode.EnvironmentIndex].setWrite(true);
                    Program.signalNewData(0);
                }

                CurrentValue = "";
            }
        }

        if (SelectedNode != null && (SelectedNode.Tag is AssetAdministrationShell || SelectedNode.Tag is AasCore.Aas3_0.File))
        {
            if (SelectedNode.Tag is AssetAdministrationShell)
            {
                <button style="border-width: 1px; border-color: black; color: white; background-color: blue" @onclick="runCreateQRCodeImage">QRCODE</button>
                <br/>
                var qrCodeService = new QrCodeService();
                var qrcodeLink = QrCodeService.GetQrCodeLink(SelectedNode);
                if (Program.generatedQrCodes.ContainsKey(SelectedNode.Tag))
                {
                    var qrcodeImage = QrCodeService.GetQrCodeImage(SelectedNode);
                    if (qrcodeImage != "")
                    {
                        <a href="@qrcodeLink" target="_blank">
                            <div>
                                <img src=data:image;base64,@qrcodeImage style="max-width: 25%;" alt="Qrcode Image"/>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <a href="@qrcodeLink" target="_blank">@qrcodeLink</a>
                    <br>
                }
                        @code {

                            private void runCreateQRCodeImage()
                            {
                                var qrCodeService = new QrCodeService();
                                qrCodeService.CreateQrCodeImage(SelectedNode);
                            }

                        }
                    }
        }

        if (SelectedNode != null && SelectedNode.Tag is Submodel sm)
        {
            var idEncoded = Base64UrlEncoder.Encode(sm.Id);
            var path = Program.externalBlazor + "/submodels/" + idEncoded;
            <span style="color:white;background-color:blue;">URL:</span>
            <a href="@path" target="_blank">@path</a>
            <br>
        }

        if (SelectedNode != null && SelectedNode.Tag is ISubmodelElement sme)
        {
            var path = sme.IdShort;
            var parent = sme.Parent as IReferable;
            while (parent is not Submodel)
            {
                if (parent is ISubmodelElementList parentList)
                {
                    if (path.Equals(sme.IdShort))
                    {
                        var index = parentList.Value?.IndexOf(sme);
                        path = "[" + index + "]";
                    }

                    path = parentList.IdShort + path;
                }
                else if (parent.Parent is ISubmodelElementList prevParentList)
                {
                    var index = prevParentList.Value?.IndexOf(parent as ISubmodelElement);
                    path = "[" + index + "]" + "." + path;
                }
                else
                {
                    path = parent.IdShort + "." + path;
                }

                parent = (IReferable) parent.Parent;
            }

            var idEncoded = Base64UrlEncoder.Encode((parent as Submodel).Id);
            path = Program.externalBlazor + "/submodels/" + idEncoded + "/submodel-elements/" + path;
            <span style="color:white;background-color:blue;">URL:</span>
            <a href="@path" target="_blank">@path</a>
            <br>
        }

        if (SelectedNode != null && SelectedNode.Tag is SubmodelElementCollection smc)
        {
            var semanticId = string.Empty;

            try
            {
                semanticId = smc.SemanticId?.GetAsIdentifier();
            }
            catch
            {
            }

            if (semanticId == "https://admin-shell.io/sandbox/zvei/TimeSeriesData/TimeSeries/1/0" ||
                semanticId == "https://admin-shell.io/sandbox/zvei/TimeSeriesData/TimeSeriesSegment/1/0")
            {
                var diff = smc.TimeStamp - _timeStampPlot;

                if (smc != _collectionPlot || diff.TotalSeconds < 0 || diff.TotalSeconds >= 5)
                {
                    _watchTimeToProcessImage = System.Diagnostics.Stopwatch.StartNew();

                    _collectionPlot = smc;
                    _timeStampPlot = smc.TimeStampTree;

                    _timeSeriesData.Clear();

                    // make initial data for time series
                    var tsd = new TimeSeriesPlotting.TimeSeriesData() {SourceTimeSeries = smc};
                    _timeSeriesData.Add(tsd);

                    // plot arguments for time series
                    tsd.Args = TimeSeriesPlotting.PlotArguments.Parse(smc.FindQualifierOfType("TimeSeries.Args")?.Value);

                    // TODO: info - ZveiTimeSeriesDataV10 is currently hardcoded as JSON string in code
                    var pcts = TimeSeriesPlotting.ZveiTimeSeriesDataV10.Static;

                    var tssReferenceKey = new Key(KeyTypes.ConceptDescription, "https://admin-shell.io/sandbox/zvei/TimeSeriesData/TimeSeriesSegment/1/0");

                    // is it a segment
                    if (semanticId == "https://admin-shell.io/sandbox/zvei/TimeSeriesData/TimeSeriesSegment/1/0")
                    {
                        TimeSeriesAddSegmentData(pcts, tsd, smc);
                    }
                    else
                    {
                        // search for segements on current level
                        var smcAllValues = smc.Value.FindAllSemanticIdAs<SubmodelElementCollection>(tssReferenceKey, MatchMode.Relaxed);

                        if (smcAllValues.Count() != 0)
                        {
                            foreach (var smcseg in smcAllValues)
                            {
                                TimeSeriesAddSegmentData(pcts, tsd, smcseg);
                            }
                        }
                    }

                    _timeSeriesData?.RenderTimeSeries(defPlotHeight: 200, "en", BlazorSessionService.sessionNumber, _plotFilter.CombinedStartDateTime, _plotFilter.CombinedEndDateTime);
                    _watchTimeToProcessImage.Stop();
                }

                byte[] imageArray;
                var timeSeriesImageBase64 = string.Empty;
                var scottplotImgPath = "wwwroot/images/scottplot/smc_timeseries_clientid" + BlazorSessionService.sessionNumber + ".png";

                if (System.IO.File.Exists(scottplotImgPath))
                {
                    imageArray = System.IO.File.ReadAllBytes(scottplotImgPath);
                    timeSeriesImageBase64 = Convert.ToBase64String(imageArray);
                }

                var elapsedMsToProcessImage = _watchTimeToProcessImage.ElapsedMilliseconds;

                if (System.IO.File.Exists(scottplotImgPath))
                {
                    <EditForm Model="@_plotFilter" OnValidSubmit="() => _plotFilter.ApplyFilterToTimeSeriesData(_timeSeriesData, BlazorSessionService.sessionNumber)">
                        <label for="filterFromDate">Filter from</label>
                        <InputDate id="filterFromDate" @bind-Value="_plotFilter.StartDate"/>
                        <input type="time" @bind-value="_plotFilter.StartTime"/>
                        <label for="filterToDate">Filter to</label>
                        <InputDate id="filterToDate" @bind-Value="_plotFilter.EndDate"/>
                        <input type="time" @bind-value="_plotFilter.EndTime"/>
                        <div>
                            <button style="border-width: 1px; border-color: black; background-color: lightgray"
                                    type="submit">
                                Apply
                            </button>
                            <button style="border-width: 1px; border-color: black; background-color: lightgray"
                                    @onclick="_plotFilter.SetInitialFilterState">
                                Reset
                            </button>
                            <button style="border-width: 1px; border-color: black; background-color: lightgray"
                                    @onclick="() => { _plotFilterTsdOffset = 0; _plotFilter.SetFilterStateForDay(0); }">
                                Today
                            </button>
                            <button style="border-width: 1px; border-color: black; background-color: lightgray"
                                    @onclick="() => { _plotFilterTsdOffset = -1; _plotFilter.SetFilterStateForDay(-1); }">
                                Yesterday
                            </button>
                            <button style="border-width: 1px; border-color: black; background-color: lightgray"
                                    @onclick="() => _plotFilter.SetFilterStateForDay(--_plotFilterTsdOffset)">
                                Prev day
                            </button>
                            <button style="border-width: 1px; border-color: black; background-color: lightgray"
                                    @onclick="() => _plotFilter.SetFilterStateForDay(++_plotFilterTsdOffset)">
                                Next day
                            </button>
                        </div>
                    </EditForm>

                    <div class="d-flex flex-column">
                        <img @onclick="() => _showImageModal = !_showImageModal" src=data:image;base64,@timeSeriesImageBase64 alt="Visualization of time series" style="max-width:950px;cursor:zoom-in;"/>
                        <span class="text-muted" style="font-size:14px;">
                            Image processing took @elapsedMsToProcessImage ms (Last update: @_timeStampPlot.ToString("yy-MM-dd HH:mm:ss.fff"))
                        </span>
                    </div>

                    <div class="modal modal-fullscreen @(_showImageModal ? " d-block" : "d-none")" style="margin-top:3.5rem;" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Visualization of time series</h5>
                                    <button type="button" @onclick="() => _showImageModal = !_showImageModal" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <img @onclick="() => _showImageModal = !_showImageModal" src=data:image;base64,@timeSeriesImageBase64 alt="Visualization of time series" style="max-width:90%;max-height:90%;cursor:zoom-out;" class="mb-2"/>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="my-2">Rendering time series...</div>
                }
            }
            else
            {
                _collectionPlot = null;
            }
        }
    }

    @{
        bool svg;
        bool url;
        var detailsImage = ImageBuilder.CreateDetailsImage(SelectedNode, out url, out svg);
        if (detailsImage != "")
        {
            if (!svg)
            {
                if (!url)
                {
                    <br/>
                    <div>
                        <img src=data:image;base64,@detailsImage style="max-width: 50%" alt="Details Image"/>
                    </div>
                }
                else
                {
                    <br/>
                    <div>
                        <img src="@detailsImage" style="max-width: 50%" alt="Details Image"/>
                    </div>
                }
            }
            else
            {
                if (!url)
                {
                    <br/>
                    <div>
                        <img src=data:image/svg+xml;base64,@detailsImage style="max-width: 50%" alt="Details Image"/>
                    </div>
                }
                else
                {
                    <br/>
                    <div>
                        <img src="detailsImage" style="max-width: 50%" alt="Details Image"/>
                    </div>
                }
            }
        }

        if (SelectedNode != null && (SelectedNode.Tag is BasicEventElement be))
        {
            if (be.Observed != null)
            {
                var okey = be.Observed.GetAsExactlyOneKey().ToStringExtended();
                <span style="color:white;background-color:blue;">Observed</span>
                <span>@(" " + okey)</span>
                <br/>
                var refsme = Program.env[0].AasEnv.FindReferableByReference(be.Observed);
                if (refsme != null)
                {
                    <span style="color:lightgray;">UPDATE @refsme.TimeStamp.ToString("yy-MM-dd HH:mm:ss.fff")</span>
                    <br/>
                    <span style="color:lightgray;">CREATE @refsme.TimeStampCreate.ToString("yy-MM-dd HH:mm:ss.fff")</span>
                    <br/>
                }
                else
                {
                    <span>Referenced element does not exist!</span>
                    <br/>
                }
            }
        }
    }

@inject BlazorSessionService BlazorSessionService;
    @code {
        [Parameter] public TreeItem SelectedNode { get; set; }
        
        DateTime _timeStampPlot = new();
        SubmodelElementCollection _collectionPlot = null;
        System.Diagnostics.Stopwatch _watchTimeToProcessImage = new();
        TimeSeriesPlotting.ListOfTimeSeriesData _timeSeriesData = new();
        PlotFilter _plotFilter = new(new SystemDateTimeProvider());
        bool _showImageModal = false;
        int _plotFilterTsdOffset = 0;
    }

</div>