@*
https://github.com/mwinkler/Blazor.Components/blob/master/LICENSE
*@

@using Microsoft.AspNetCore.Components.Web
@using AasCore.Aas3_0
@using AasxServerBlazor.Data
@using AasxServerBlazor.TreeVisualisation
@using AasxServerBlazor.TreeVisualisation.Builders

@typeparam TNode
@using static TreePage

<div class="uic-tree @(Visible ? string.Empty : "uic-tree--hidden")" style="float:left; padding: 1px; margin: 1px">
    @foreach (var node in Nodes ?? Enumerable.Empty<TNode>())
    {
        var treeItem = node as TreeItem;
        var treeItemIsAas = treeItem?.Tag is AssetAdministrationShell;
        var treeItemMargin = treeItemIsAas ? "margin: 0px; margin-bottom: 3px" : "margin: 0px";

        <div class="row" style="background-color:aliceblue; padding: 0; @treeItemMargin">
            @if (treeItemIsAas)
            {
                <div class="column" style="max-width:50px;padding:1px;display:flex;justify-content:center;">
                    @{
                        var border = string.Empty;
                        var env = AasxServer.Program.env[treeItem.EnvironmentIndex];
                        if (env != null && env.getWrite())
                        {
                            border = "border:dotted;border-color:blue;";
                        }

                        var detailsImage = ImageBuilder.CreateDetailsImage(treeItem, out var url, out var svg);
                        var src = detailsImage != null ? $"data:image{(svg ? "/svg+xml" : string.Empty)};base64,{detailsImage}" : null;

                        if (!string.IsNullOrEmpty(detailsImage) && !url)
                        {
                            <img style="max-height:50px;object-fit:contain;@border" alt="Details Image" src="@src" />
                        }
                    }
                </div>
            }

            <div class="column" style="width:100%;float:left;vertical-align:central">
                @if (HasChildNodes(node))
                {
                    var iconId = AasxServer.Program.htmlId ? $"{HtmlId(treeItem)}._icon" : string.Empty;
                    <span class="uic-tree__icon" @onclick="@(() => OnToggleNode(node, !ExpandedNodes.Contains(node)))" id="@iconId">
                        <i class="@(ExpandedNodes.Contains(node) ? Style.CollapseNodeIconClass : Style.ExpandNodeIconClass)"></i>
                    </span>
                }

                <div class="uic-tree__title" style="width:100%">
                    @{
                        var titleId = AasxServer.Program.htmlId ? $"{HtmlId(treeItem)}._title" : string.Empty;
                        <span class="@Style.NodeTitleClass @(SelectedNode?.Equals(node) == true ? Style.NodeTitleSelectedClass : "")" @onclick="@(() => OnSelectNode(node))" id="@titleId">
                            @TitleTemplate(node)
                        </span>
                    }
                </div>

                @if (HasChildNodes(node) && ExpandedNodes.Contains(node))
                {
                    <Tree Nodes="ChildSelector(node)"
                          TitleTemplate="TitleTemplate"
                          ChildSelector="ChildSelector"
                          ExpandedNodes="ExpandedNodes"
                          ExpandedNodesChanged="ExpandedNodesChanged"
                          SelectedNode="SelectedNode"
                          SelectedNodeChanged="SelectedNodeChanged"
                          Visible="true"
                          HasChildNodes="HasChildNodes"
                          HtmlId="HtmlId" />
                }
            </div>
        </div>
    }
</div>

@code {

    [Parameter] public IEnumerable<TNode> Nodes { get; set; }
    [Parameter] public RenderFragment<TNode> TitleTemplate { get; set; }
    [Parameter] public TNode SelectedNode { get; set; }
    [Parameter] public EventCallback<TNode> SelectedNodeChanged { get; set; }
    [Parameter] public Func<TNode, IEnumerable<TNode>> ChildSelector { get; set; }
    [Parameter] public IList<TNode> ExpandedNodes { get; set; } = new List<TNode>();
    [Parameter] public EventCallback<IList<TNode>> ExpandedNodesChanged { get; set; }
    [Parameter] public TreeStyle Style { get; set; } = TreeStyle.Bootstrap;
    [Parameter] public bool Visible { get; set; } = true;
    [Parameter] public Func<TNode, bool> HasChildNodes { get; set; } = _ => true;
    [Parameter] public Func<TreeItem, string> HtmlId { get; set; } = _ => string.Empty;

    private void OnToggleNode(TNode node, bool expand)
    {
        if (expand)
        {
            ExpandedNodes.Add(node);
        }
        else
        {
            ExpandedNodes.Remove(node);
        }
        ExpandedNodesChanged.InvokeAsync(ExpandedNodes);
    }

    private void OnSelectNode(TNode node)
    {
        SelectedNode = node;
        SelectedNodeChanged.InvokeAsync(node);
    }
}
