@*
    https://github.com/mwinkler/Blazor.Components/blob/master/LICENSE
*@
@inject AASService SubmodelService
@using Microsoft.AspNetCore.Components.Web;
@using MW.Blazor;
@using AasxServer;
@using AasxRestServerLibrary;
@using AasxServerBlazor.Data;

@typeparam TNode
@using static AdminShellNS.AdminShellV20;
@using static TreePage

<div class="uic-tree @(Visible ? "" : "uic-tree--hidden")">
    @foreach (var node in Nodes ?? Enumerable.Empty<TNode>())
    {
        var nodeExpanded = ExpandedNodes.Contains(node);
        var nodeSelected = node.Equals(SelectedNode);
        var hasChilds = HasChildNodes(node);
        // @("nodeExpanded " + nodeExpanded + " nodeSelected " + nodeSelected + " hasChilds " + hasChilds)

        var item = node as Item;
        if (item.Tag is File && item.Childs == null)
        {
            // if supported for the type of file, allow to browse into the file contents
            SubmodelService.CreateFileItems(item, (item.Tag as File), TreePage.getRestURL(item));
        }

        <div>
            @if (hasChilds)
            {
                string iconId = "";
                if (AasxServer.Program.htmlId)
                    iconId = HtmlId(node as Item) + "._icon";
                <span class="uic-tree__icon" @onclick="@(() => OnToggleNode(node, !nodeExpanded))" id="@iconId">
                    <i class="@(nodeExpanded ? Style.CollapseNodeIconClass : Style.ExpandNodeIconClass)"></i>
                </span>
            }

            <div class="uic-tree__title">
                @{
                    string titleId = "";
                    if (AasxServer.Program.htmlId)
                        titleId = HtmlId(node as Item) + "._title";
                    <span class="@Style.NodeTitleClass @(nodeSelected ? Style.NodeTitleSelectedClass : "")" @onclick="@(() => OnSelectNode(node))" id="@titleId">
                        @TitleTemplate(node) @{ /* @(" " + node.GetHashCode() + " ") */ }
                    </span>
                }
            </div>

            @if (hasChilds)
            {
                if (nodeExpanded)
                {
                    <Tree Nodes="ChildSelector(node)"
                          TitleTemplate="TitleTemplate"
                          ChildSelector="ChildSelector"
                          ExpandedNodes="ExpandedNodes"
                          ExpandedNodesChanged="ExpandedNodesChanged"
                          SelectedNode="SelectedNode"
                          SelectedNodeChanged="SelectedNodeChanged"
                          Visible="nodeExpanded"
                          HasChildNodes="HasChildNodes"
                          HtmlId="HtmlId" />
                }
            }

        </div>
    }

</div>

@code {

    [Parameter] public IEnumerable<TNode> Nodes { get; set; }

    [Parameter] public RenderFragment<TNode> TitleTemplate { get; set; }

    [Parameter] public TNode SelectedNode { get; set; }
    [Parameter] public EventCallback<TNode> SelectedNodeChanged { get; set; }

    [Parameter] public Func<TNode, IEnumerable<TNode>> ChildSelector { get; set; }

    [Parameter] public IList<TNode> ExpandedNodes { get; set; } = new List<TNode>();
    [Parameter] public EventCallback<IList<TNode>> ExpandedNodesChanged { get; set; }

    [Parameter] public TreeStyle Style { get; set; } = TreeStyle.Bootstrap;

    [Parameter] public bool Visible { get; set; } = true;

    [Parameter] public Func<TNode, bool> HasChildNodes { get; set; } = node => true;

    [Parameter] public Func<Item, string> HtmlId { get; set; } = node => "";

    private void OnToggleNode(TNode node, bool expand)
    {
        var expanded = ExpandedNodes.Contains(node);

        if (expanded && !expand)
        {
            ExpandedNodes.Remove(node);
            ExpandedNodesChanged.InvokeAsync(ExpandedNodes);
        }
        else if (!expanded && expand)
        {
            ExpandedNodes.Add(node);
            ExpandedNodesChanged.InvokeAsync(ExpandedNodes);
        }
    }

    private void OnSelectNode(TNode node)
    {
        SelectedNode = node;
        SelectedNodeChanged.InvokeAsync(node);
    }

}