@page "/"
@inject AASService SubmodelService
@inject NavigationManager NavigationManager
@inject ISecurityService SecService
@using AasCore.Aas3_0
@using AasSecurity;
@using AasSecurity.Models;
@using Extensions
@using Microsoft.IdentityModel.Tokens;
@using System
@using System.Net;
@using QRCoder;
@using System.Drawing;
@using System.IO;
@using AasxServerBlazor.Data
@using static AasxServerStandardBib.TimeSeriesPlotting;

@implements IDisposable

<div class="column-12 row">
    <br/>
    <div class="column-5" style="border: 3px solid blue; border-radius: 8px; background-color: aliceblue; 
    word-wrap: break-word; word-break: break-all; position: sticky;">
        @UpdateVisibleTree(_items, SelectedNode)
        @if (Program.isLoading)
        {
            <span style="color: white; background-color: blue;">Loading...</span>
        }
        else
        {
            AasxRestServerLibrary.AasxRestServer.TestResource.initListOfRepositories();
        }
        <Tree Nodes="_items" ChildSelector="@(item => item.Childs)"
              @bind-SelectedNode="SelectedNode"
              @bind-ExpandedNodes="_expandedNodes"
              HasChildNodes="@(item => item.Childs?.Any() == true)"
              HtmlId="@(item => item.GetHtmlId())">
            <TitleTemplate>
                @{
                    var getPolicy = string.Empty;
                    @if (GlobalSecurityVariables.WithAuthentication)
                    {
                        var display = false;
                        var access = false;
                        var withAllow = false;
                        if (context.Tag is Submodel submodel)
                        {
                            // check, if access to submodel is allowed
                            var error = string.Empty;
                            withAllow = false;
                            access = SecService.AuthorizeRequest(null, "/submodels", AccessRights.READ,
                                out error, out withAllow, out getPolicy, submodel.IdShort!, "submodel", submodel);
                            display = true;
                        }

                        if (context.Tag is ISubmodelElement submodelElement)
                        {
                            var path = submodelElement.IdShort;
                            var p = submodelElement.Parent;
                            while (!(p is Submodel))
                            {
                                path = (p as ISubmodelElement).IdShort + "." + path;
                                p = (p as ISubmodelElement).Parent;
                            }

                            path = (p as Submodel).IdShort + "." + path;
                            var error = string.Empty;
                            access = SecService.AuthorizeRequest(null, "/submodel-elements", AccessRights.READ,
                                out error, out withAllow, out getPolicy, path, string.Empty, p);
                            display = true;
                        }

                        if (display)
                        {
                            if (context.Childs == null || context.Childs.Count() == 0)
                                withAllow = false;
                            if (access)
                            {
                                <span style="color:green;background-color:green;">Access</span>
                            }
                            else
                            {
                                if (!withAllow)
                                {
                                    <span style="color:red;background-color:red;">Not Allowed</span>
                                }
                                else
                                {
                                    <span style="color:red;background-color:red;">Allowed</span>
                                }
                            }
                        }
                    }

                    <span style="color:white;background-color:blue;">@context.BuildNodeRepresentation()</span>
                    @context.GetIdentifier()
                    @if (Program.withPolicy && getPolicy != "")
                    {
                        <span style="color:blue">@getPolicy</span>
                    }

                    <span style="color:blue;font-size:14px">@context.GetSymbolicRepresentation()</span>
                    <span style="color:lightgray;font-size:14px">@context.GetTimeStamp()</span>
                }
            </TitleTemplate>
        </Tree>
    </div>
    <div class="column-7" style="border-width: 3px; border-style: solid; border-color: blue; border-radius: 8px; position: sticky; background-color:aliceblue;">
        <TreeNodeComponents.NodeDetailsComponent SelectedNode="@SelectedNode"/>
    </div>
</div>


@inject IJSRuntime JsRuntime
@inject BlazorSessionService BlazorSessionService;
@using AasxServer;
@using AdminShellNS;
@using System.Globalization;
@using System.Reflection;
@using AasxServerBlazor.DateTimeServices
@using AasxServerBlazor.TreeVisualisation
@using AasxServerBlazor.TreeVisualisation.Builders
@using AasxServerBlazor.WebActions
@using AasxServerBlazor.WebActions.AasxLinkCreation
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using ScottPlot;

@code {
    List<TreeItem> _items = null;
    IList<TreeItem> _expandedNodes = new List<TreeItem>();
    static ulong _dataVersion = 0;
    static int _hack = 0;
    System.Threading.Timer _refresh = null;
    int _newDataMode = 0;
    bool _update = true;

    private TreeItem SelectedNode { get; set; }

    protected override void OnInitialized()
    {
        SubmodelService.NewDataAvailable += NewData;
        Program.signalNewData(1);
    }

    public void Dispose()
    {
        SubmodelService.NewDataAvailable -= NewData;
    }

    void NewData(object source, EventArgs args)
    {
        if (Program.isLoading)
            return;

        if (_newDataMode != 0 || args is not Program.NewDataAvailableArgs newArgs)
        {
            return;
        }

        _newDataMode = newArgs.signalNewDataMode;
        InvokeAsync(() => StateHasChanged());
    }

    string UpdateVisibleTree(List<TreeItem> viewItems, TreeItem selectedNode)
    {
        if (!_update)
        {
            return string.Empty;
        }

        switch (_newDataMode)
        {
            case (int) DataMode.SameTreeValuesChanged:
                break;

            case (int) DataMode.SameTreeStructureMayChange:
            case (int) DataMode.BuildNewTreeKeepOpenNodes:
                BuildTree(selectedNode);
                UpdateNodes(selectedNode);
                break;

            case (int) DataMode.BuildNewTreeAllNodesClosed:
                BuildTree(selectedNode);
                _expandedNodes.Clear();
                break;
        }

        SelectedNode = selectedNode;

        return string.Empty;
    }

    void BuildTree(TreeItem selectedNode)
    {
        SubmodelService.buildTree();
        _items = SubmodelService.GetTree(selectedNode, _expandedNodes);
    }

    void UpdateNodes(TreeItem selectedNode)
    {
        _expandedNodes.Clear();
        if (selectedNode != null)
        {
            selectedNode = TreePath.Find(selectedNode.GetPath(), _items);
        }

        foreach (var path in _expandedNodes.Select(expandedNode => TreePath.Find(expandedNode.GetPath(), _items)).Where(p => p != null))
        {
            _expandedNodes.Add(path);
        }

        _newDataMode = (int) DataMode.SameTreeValuesChanged;
    }

    enum DataMode
    {
        SameTreeValuesChanged,
        SameTreeStructureMayChange,
        BuildNewTreeKeepOpenNodes,
        BuildNewTreeAllNodesClosed
    }

}