@using AasxServerBlazor.TreeVisualisation
@using AasxServerBlazor.TreeVisualisation.Builders
@using AasxServer
@using AasSecurity
@inject ISecurityService SecService
@namespace AasxServerBlazor.Pages.TreeNodeComponents

<style>
    .modal-fullscreen {
        padding: 0 !important;
    }

    .modal-fullscreen .modal-dialog {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-fullscreen .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .modal-fullscreen .modal-body {
        overflow-y: auto;
    }
</style>

@code {
    [Parameter] public TreeItem SelectedNode { get; set; }

    private string SelectedNodeInfoType => SelectedNode?.Tag is not string ? SelectedNode.BuildNodeRepresentation() : null;

    private string SelectedNodeInfoId => SelectedNode?.GetIdentifier();

    private bool IsTextContainingReadme => SelectedNode?.Text.Contains("/readme") ?? false;

    private string ReadFileContent(string filePath)
    {
        if (filePath == null || !IsTextContainingReadme)
            return null;

        var text = System.IO.File.ReadAllText(filePath);
        return text.Replace("%BLAZOR%", Program.externalBlazor);
    }

    private MarkupString GetAccessRulesMarkupString()
    {
        if (!IsTextContainingReadme)
            return new MarkupString(string.Empty);

        var accessRules = SecService.GetSecurityRules();
        var lines = accessRules.Split('\n');
        var tableRows = lines.Select(CreateTableRow);

        const string tableHeader = "<thead><tr><th>Name</th><th nowrap>Kind</th><th>Permission</th><th>Type</th><th>API</th><th>Path</th><th>SemanticID</th><th>See</th></tr></thead>";
        return new MarkupString($"<table class='table table-bordered table-sm'><tbody>{tableHeader}{string.Join("", tableRows)}</tbody></table>");
    }

    string CreateTableCell(string col, int index)
    {
        var nowrapAttribute = (index == 1 || index == 2) 
            ? " nowrap" 
            : string.Empty;
        return $"<td{nowrapAttribute}>{col}</td>";
    }

    string CreateTableRow(string line)
    {
        var columns = line.Split('\t');
        var tableCells = columns.Select(CreateTableCell);
        return $"<tr>{string.Concat(tableCells)}</tr>";
    }

    private string GetNodeDetails(int line, int column)
    {
        var nodeBuilder = TreeDetailsBuilderFactory.Create(SelectedNode);
        var nodeDetails = nodeBuilder.Build(SelectedNode, line, column);
        return string.IsNullOrWhiteSpace(nodeDetails) ? null : nodeDetails;
    }
}

@if (SelectedNode != null)
{
    @if (!string.IsNullOrWhiteSpace(SelectedNodeInfoType))
    {
        <span style="color:white;background-color:blue;" id="SelectedNodeInfoType">@SelectedNodeInfoType</span>
        <span id="SelectedNodeInfoId">@SelectedNodeInfoId</span>
        <br/>
    }
    else if (IsTextContainingReadme)
    {
        var text = ReadFileContent(SelectedNode.Text);
        @if (!string.IsNullOrWhiteSpace(text))
        {
            if (text.Contains("%ACCESSRULES%"))
            {
                <div>@GetAccessRulesMarkupString()</div>
            }
            else
            {
                <span>@((MarkupString) text)</span>
            }
        }
    }
}

@for (var line = 0; line < 20; line++)
{
    var nodeDetailsFirstColumn = GetNodeDetails(line, 0);
    var nodeDetailsSecondColumn = GetNodeDetails(line, 1);
    var nodeDetailsThirdColumn = GetNodeDetails(line, 2);

    if (!string.IsNullOrWhiteSpace(nodeDetailsFirstColumn) && !string.IsNullOrWhiteSpace(nodeDetailsSecondColumn))
    {
        var detailsId = $"SelectedNodeDetailsLeft_{line}";
        <span style="color:white;background-color:blue;" id="@detailsId">@nodeDetailsFirstColumn</span>
        detailsId = $"SelectedNodeDetailsRight_{line}";
        <span id="@detailsId">@nodeDetailsSecondColumn @nodeDetailsThirdColumn</span>
        <br/>
    }
}