@using AasxServerBlazor.TreeVisualisation

@namespace AasxServerBlazor.Pages.TreeNodeComponents

<div id="tree-node-details-container">
    @{
        <TreeItemRepresentationComponent SelectedNode="@SelectedNode"/>
        <NodeDateTimeChangesComponent SelectedNode="@SelectedNode"/>
        <LastEditedComponent SelectedNode="@SelectedNode"/>
        <QrCodeComponent SelectedNode="@SelectedNode"/>
        <UrlPathComponent SelectedNode="@SelectedNode"/>
        <TimeSeriesComponent SelectedNode="@SelectedNode"/>
        <DetailsImageComponent SelectedNode="@SelectedNode"/>
        <BasicEventComponent SelectedNode="@SelectedNode"/>
    }

    @code {
        [Parameter] public TreeItem SelectedNode { get; set; }
    }
</div>